@page "/DataGridTradingJournal"
@inject HttpClient Http


@if (oPositionVM == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="display: flex; align-items: center; margin-bottom: 16px">
        <div style="white-space:nowrap; margin-right: 16px">ExpandMode:</div>
        <RadzenSelectBar @bind-Value="@expandMode" TextProperty="Text" ValueProperty="Value" style="margin-right: 16px"
                         Data="@(Enum.GetValues(typeof(DataGridExpandMode)).Cast<DataGridExpandMode>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small" />
        <RadzenButton Text="Expand all rows" Click="@(args => ToggleRowsExpand(true))" style="margin-right: 16px"
                      Disabled=@(allRowsExpanded == true || expandMode == DataGridExpandMode.Single) />
        <RadzenButton Text="Collapse all rows" Click="@(args => ToggleRowsExpand(false))"
                      Disabled=@(allRowsExpanded == false || expandMode == DataGridExpandMode.Single) />

        <RadzenButton Text="Online Position" Click="@(args => onlinePositionTransaction())" />
    </div>



    <RadzenDataGrid @ref="grid" Data="@oPositionVM" TItem="OptionPositionVM" AllowFiltering="true" AllowPaging="true" PageSize="3" AllowSorting="true" RowRender="@RowRender" ExpandMode="@expandMode">



        <Template Context="OptionPositionVM2">
                    <RadzenTabs>
                        <Tabs>
                        <RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@OptionPositionVM2.optionTransactionDetalis" TItem="optionTransactionDetalisVM">
                                    <Columns>
                                <RadzenDataGridColumn TItem="optionTransactionDetalisVM" Property="InstrumentName" Title="InstrumentName" />
                                <RadzenDataGridColumn TItem="optionTransactionDetalisVM" Property="Amount" Title="Amount" />
                                <RadzenDataGridColumn TItem="optionTransactionDetalisVM" Property="IndexPrice" Title="IndexPrice" />
                                <RadzenDataGridColumn TItem="optionTransactionDetalisVM" Property="Price" Title="Price" />

                                    </Columns>
                                </RadzenDataGrid>
                        </Tabs>
                    </RadzenTabs>
        </Template>

        <Columns>
            <RadzenDataGridColumn TItem="OptionPositionVM" Property="InstrumentName" Title="Instrument Name" Width="120px" />
            <RadzenDataGridColumn TItem="OptionPositionVM" Property="size" Title="size" Width="120px" />
            <RadzenDataGridColumn TItem="OptionPositionVM" Property="average_price" Title="average price" Width="120px" />
            <RadzenDataGridColumn TItem="OptionPositionVM" Property="MarkPrice" Title="MarkPrice" Width="120px" />
            <RadzenDataGridColumn TItem="OptionPositionVM" Property="TotalProfitLoss" Title="Total ProfitLoss" Width="120px" />
            <RadzenDataGridColumn TItem="OptionPositionVM" Property="delta" Title="delta" Width="120px" />
        </Columns>
    </RadzenDataGrid>

}
